* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html{
    width: 100%;
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
}

header, footer{
    background-color: #084444;
    display: flex;
    justify-content: center;
    align-items: center;

    color: white;
}

header{
    flex: 2;
}

#main {
    height: 100%;

    flex: 7;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    background-color: lightgreen;
}

form{
    width: 95%;
    padding: 1%;

    display: flex;
    justify-content: space-evenly;

    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    border: dotted red 2px;
}

form > *{
    width: 15%;
    padding: 0.25em;
}

button {
    background-color: red;
    color: white;
}

#output {
    height: 80%;
    width: 95%;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    background-color: lightgrey;
    border-radius: 10px;
    border: red solid 2px;
}

#info {
    display: flex;
    justify-content: space-around;
}

#cards p {
    text-align: center;
}

#cards {
    height: 90%;
    display: flex;
    justify-content: space-evenly;
}

#cards > section {
    width: 30%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    background-color: white;
    border-radius: 10px;
    border: dotted red 2px;
}

#cards > section > * {
    flex: 1;
}

#cards img {
    width: 50%;
    margin: auto;
}

#cards div {
    display: flex;
    justify-content: space-between;

    padding : 5px;
}

input{
    background-color: whitesmoke;
}

footer{
    flex: 1;
}